@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

@font-face {
  	font-family: custom;
    src: local('Noto Serif TC');
    unicode-range: U+00-024F;
}

@font-face {
  	font-family: custom;
    src: local('Noto Sans TC');
    unicode-range: U+4E00-9FFF;
}

body {
  	font-family: 'IBM Plex Serif', custom;
	background-color: #dcdcdd;
}


#info {
	padding-left: 2%;
	padding-right: 2%;
	max-height: 100vh;
	overflow-y: scroll;
}

#fontsize-select-box {
	font-size: 1.5rem;
}

#editor {
	height: 50vh;
	border-radius: 3px;
}

#code-area {
	max-height: 100vh;
	overflow-y: scroll;
}

#code-area > div {
	margin: 15px 0;
}

#code-area > .panel {
	border: 1px solid #c5c3c6;
	background-color: #0000;
}

#code-area .panel-body {
    padding: 2px;
}

#input, #output {
	resize: none;
	width: 100%;
}
