#info {
	position: absolute;
	left: 0%;
	width: 50%;
	height: 100%;
	padding-left: 2%;
}

#prefer {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 50%;
	height: 10%;
	padding-left: 2%;
}

#editor {
    position: absolute;
    top: 10%;
    left: 50%;
	width: 50%;
	height: 50%;
	padding-left: 2%;
}

#run {
	position: absolute;
	top: 60%;
	left: 50%;
	width: 50%;
	height: 40%;
	padding-left: 2%;
}