@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

@font-face {
    font-family: custom;
    src: local('Noto Serif TC');
    unicode-range: U+00-024F;
}

@font-face {
    font-family: custom;
    src: local('Noto Sans TC');
    unicode-range: U+4E00-9FFF;
}

body {
    font-family: 'IBM Plex Serif', custom;
    background-color: #f5f2f0;
}


#info {
    padding-left: 2%;
    padding-right: 2%;
    max-height: 100vh;
    overflow-y: scroll;
}

#fontsize-select-box {
    font-size: 1rem;
}

#editor {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#code-area {
    height: 100vh;
    padding: 15px;
}

#code-area > .card {
    border: 1px solid #c5c3c6;
    background-color: #0000;
    height: 50%;
}

#code-area .card-body {
    padding: 2px;
    height: 100%;
}

#run {
    height: 50%;
    padding-top: 15px;
}

#run > .nav-tabs {
    border: none;
}

#run > .btn-group {
    padding-top: 15px;
}

#run .nav-link {
    background-color: rgba(0,0,0,.03);
}

#run .nav-link.active {
    background-color: #fff;
}

#input, #output {
    resize: none;
    border-color: #dee2e6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    height: 100%;
}
